
/*-------Fonts------*/

@font-face {
  font-family: "Object Sans";
  font-weight: 400;
  src: url(../assets/fonts/ObjectSans-Regular.otf);
}

@font-face {
  font-family: "Object Sans";
  font-weight: 500;
  src: url(../assets/fonts/ObjectSans-Medium.otf);
}

@font-face {
  font-family: "Object Sans";
  font-weight: 600;
  src: url(../assets/fonts/ObjectSans-Bold.otf);
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Object Sans', sans-serif!important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



/*-----Banner home slick START-----*/

.banner_carousel-slick-container__RjSB7 .slick-dots{
  bottom: 10px!important;
}

.banner_carousel-slick-container__RjSB7 .slick-prev{
  z-index: 2;
  width: 50px;
  left: 0;
  height: 98%;
  background: rgba(255,255,255,0);
}

.banner_carousel-slick-container__RjSB7 .slick-next{
  z-index: 2;
  width: 50px;
  right: 0;
  height: 98%;

}

.banner_carousel-slick-container__RjSB7 .slick-next:before,
.banner_carousel-slick-container__RjSB7 .slick-prev:before{
  content: '';
  width: 50px;
  height: 30px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.banner_carousel-slick-container__RjSB7 .slick-next:before{
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='33' viewBox='0 0 18 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.0002 0.380737L16.8051 16.186L1 31.991' stroke='white'/%3E%3C/svg%3E%0A");
}

.banner_carousel-slick-container__RjSB7 .slick-prev:before{
  transform: rotate(-180deg);
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='33' viewBox='0 0 18 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.0002 0.380737L16.8051 16.186L1 31.991' stroke='white'/%3E%3C/svg%3E%0A");
}





.banner_carousel-slick-container__RjSB7 .slick-arrow{
  transition: .3s;
  background: rgba(255,255,255,0);
}

.banner_carousel-slick-container__RjSB7 .slick-arrow:hover{
  background: rgba(255,255,255,.2);
}

.banner_carousel-slick-container__RjSB7 .slick-dots li{
  width: 50px;
}

.banner_carousel-slick-container__RjSB7 .slick-dots li button:before{
  content: '';
  width: 40px;
  height: 3px;
  background: #fff;
}

/*-----Banner home slick END-----*/

@media (max-width: 500px){
  .ant-drawer-content-wrapper{
    width: 100%!important;
  }
}


/*------Media News Slick----*/
.Home_media-news__LjQUL{
  .slick-next{
    &:before{
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='33' viewBox='0 0 18 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.0002 0.380737L16.8051 16.186L1 31.991' stroke='white'/%3E%3C/svg%3E%0A")!important;
    }
  }

  .slick-prev:before{
    transform: rotate(-180deg);
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='33' viewBox='0 0 18 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.0002 0.380737L16.8051 16.186L1 31.991' stroke='white'/%3E%3C/svg%3E%0A")!important;
  }

  .slick-next,
  .slick-prev{
    width: 35px;
    height: 35px;
    z-index: 3;

    &:hover{
      &:before{
        background: rgba(0,0,0,1);
      }
    }
  }

  .slick-next:before,
  .slick-prev:before{
    content: '';
    transition: .3s;
    background: rgba(0,0,0,.5);
    border-radius: 50%;
    width: 35px;
    opacity: 1!important;
    height: 35px;
    display: block;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: 80% 60%!important;
  }
}

.preloader{
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  & .ant-spin-dot-item{
    background-color: var(--main-color);
  }

  & > div{
    color: #000;
  }
}

.ant-radio:hover .ant-radio-inner{
  border-color: var(--main-color)!important;
}

.ant-radio-checked .ant-radio-inner{
  border-color: var(--main-color)!important;
  &::after{
    background: var(--main-color)!important;;
  }
}

.ant-drawer-header-title{
  & button{
    margin-left: auto;
  }
}

.Catalog_filters-block__hoCBY{
  @media (max-width: 991px){
    .ant-col{
      margin: 0 auto;
    }
  }
}

.preloader{
  min-height: 700px;
}

.no-data{
  min-height: 700px;
}


/*-----variables Colors-----*/
:root {
  --main-color: #F37500;
}

